*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-bg{
    background-color: gray;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
.center { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 700px; 
    padding: 20px;
} 
.input-row{
    display: flex;
    flex-direction: row;   
}
.cell { 
    border: none; 
    width: 80px; 
    height: 80px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 24px; 
    text-align: center; 
    cursor: pointer; 
}   
.cell:active { 
    outline: none; 
} 
#txt1{ 
    border-bottom: 1px solid gray; 
    border-right: 1px solid gray; 
} 
#txt2 { 
    border-bottom: 1px solid gray; 
    border-right: 1px solid gray; 
    border-left: 1px solid gray; 
}   
#txt3 { 
    border-bottom: 1px solid gray; 
    border-left: 1px solid gray; 
} 
#txt4 { 
    border-top: 1px solid gray; 
    border-bottom: 1px solid gray; 
    border-right: 1px solid gray; 
} 
      
#txt5 { 
    border: 1px solid gray; 
} 
  
#txt6 { 
    border-top: 1px solid gray; 
    border-bottom: 1px solid gray; 
    border-left: 1px solid gray; 
} 
  
#txt7 { 
    border-top: 1px solid gray; 
    border-right: 1px solid gray; 
} 
  
#txt8 { 
    border-top: 1px solid gray; 
    border-right: 1px solid gray; 
    border-left: 1px solid gray; 
} 
  
#txt9 { 
    border-top: 1px solid gray; 
    border-left: 1px solid gray; 
} 